<!--== Start Header Wrapper ==-->
  <header class="header-area transparent">
    <div class="container">
      <div class="row no-gutter align-items-center position-relative">
        <div class="col-12">
          <div class="header-align">
            <div class="header-align-start">
              <div class="header-logo-area">
                <a href="index.html">
                  <img class="logo-main" src="assets/img/logo-light.png" alt="Logo" />
                  <img class="logo-light" src="assets/img/logo-light.png" alt="Logo" />
                </a>
              </div>
            </div>
            <div class="header-align-center">
              <div class="header-navigation-area position-relative">
                <ul class="main-menu nav">
                  <li><a href="#"><span>Home</span></a></li>
                  <li><a href="#"><span>Find Jobs</span></a></li>
                  <li><a href="#"><span>Companies</span></a></li>
                    {% if user.is_authenticated %}
                      <li class="has-submenu"><a href="#/"><span>{{ user.get_username }}</span></a>
                        <ul class="submenu-nav">
                          <li><a href="candidate.html"><span>Profile</span></a></li>
                          <li><a href="{% url 'auth.logout' %}"><span>Logout</span></a></li>
                        </ul>
                      </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          {% if not user.is_authenticated %}
            <div class="header-align-end">
              <div class="header-action-area">
                <a class="btn-registration" href="{% url 'auth.register' %}"><span>+</span> Register/Login</a>
                <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                  <i class="icofont-navigation-menu"></i>
                </button>
              </div>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->